@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<!-- Frequently asked questions page. Implementation in-progress.-->



<body>
    <div>
    <h1>@ViewData["Title"]</h1>
    <br />
    </div>

    <h3>- General -</h3>
    <div>
        <h4>What is BucStop?</h4>
        <p>BucStop is an online platform where users can play a variety of games and also create and share their own games with the ETSU community.</p>
        <br />
    </div>

    <h3>- Account -</h3>
    <div>
        <h4>How do I create an account?</h4>
        <p>To create an account, simply click on the "Sign Up" button on the homepage and follow the instructions to fill out the registration form.</p>
        <br />
    </div>

    <h3>- Playing Games -</h3>
    <div>
        <h4>How do I play games on BucStop?</h4>
        <p>To play games, browse through the available options on the homepage or use the search bar to find a specific game. Click on the game's thumbnail or title to start playing.</p>
        <br />
    </div>

    <h3>- User-Created Games -</h3>
    <div>
        <h4>How can I submit my own game?</h4>
        <p>To submit your own game, first, make sure you have an account. Then, navigate to the "Add Your Game!" section of the website and follow the instructions to upload your game files and provide necessary information.</p>
        <br />
    </div>

    <h3>- Technical Issues -</h3>
    <div>
        <h4>What should I do if I encounter technical issues while playing a game?</h4>
        <p>If you encounter any technical issues, such as game crashing or freezing, try refreshing the page first. If the problem persists, please contact our support team for assistance.</p>
        <br />
    </div>

    <h3>- Community Guidelines -</h3>
    <div>
        <h4>Are there any guidelines for user-created content?</h4>
        <p>Yes, we have community guidelines that all users must adhere to when submitting their own games. These guidelines ensure that the content is appropriate and follows our terms of service.</p>
        <br />
    </div>

</body>
</html>