@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Privacy Policy page. Not needed, just a gag at this point.-->

<h1>@ViewData["Title"]</h1>

<p>Good news!</p>
<p>There is no privacy policy needed!</p>
<p>Enjoy your time on the site!</p>

