@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Privacy Policy page. Not implemented yet, however, may be useful in the future.-->

<h1>@ViewData["Title"]</h1>

<p><strong>Privacy Policy</strong></p>
<p>Our Privacy Policy was last updated on 02/09/2024.</p>
<p>This Privacy Policy describes our policies and procedures on the collection, use and disclosure of your information when you use our service.</p>
<p>We use your personal data to provide and improve our service. By using the service, you agree to the collection and use of information in accordance with this Privacy Policy.</p>
<p><strong>"Personal Data"</strong> is any information that relates to an identified or identifiable individual.</p>
<p>For the purposes of GDPR, Personal Data means any information relating to you such as a name, an identification number, location data, or online identifier.</p>
<p>For the purposes of the CCPA, Personal Data means any information that identifies, relates to, describes or is capable of being associated with, or could reasonably be linked, directly or indirectly, with you.</p>
